<nav class="navbar navbar-expand-lg bg-black"
  style="background-image: url('https://i.pinimg.com/564x/e4/90/42/e490426acc528a605f7ce4dc02f4ef64.jpg');">
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/236x/3c/19/4c/3c194ceaf6a72fba8e4ba6e421f67bc5.jpg" class="d-block w-1000" alt="..." width="650"height="600">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/236x/12/b7/c0/12b7c0c5a060f1070f7bec49351ff8de.jpg" class="d-block w-1000" alt="..." width="650"height="600">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/236x/0c/56/d8/0c56d8e70d5d31c3d04a5e3efa770ab7.jpg" class="d-block w-1000" alt="..." width="650"height="600">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <div class="text-bg-secondary p-3">India is a nation with a strong cultural and artistic history. India is home to a wide variety of art forms that are passed down from generation to generation due to its unique and distinct cultures. While some have changed over time to accommodate new paint and material options, others have remained unchanged by modernization. Each type of art is distinctive in its way and is highly regarded. These art forms had previously only been found in wall paintings or murals. These days, however, they can also be found on canvas, paper, linen, etc. They exude an air of antiquity and nostalgia for a bygone era because they are typically fashioned from natural materials and colours. Indian art is highly regarded throughout the world and here is a list of some of the most stunning traditional Indian art forms you need to be aware of. </div>
  </nav>
